<section class="world_service">
  <div class="container">
      <div class="world_service_inner">
          <div class="row">
              <div class="col-lg-3">
                  <div class="world_service_item">
                      <h4><img src="src/assets/img/icon/world-icon-1.png" alt="">Worldwide Service</h4>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="world_service_item">
                      <h4><img src="src/assets/img/icon/world-icon-2.png" alt="">247 Help Center</h4>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="world_service_item">
                      <h4><img src="src/assets/img/icon/world-icon-3.png" alt="">Safe Payment</h4>
                  </div>
              </div>
              <div class="col-lg-3">
                  <div class="world_service_item">
                      <h4><img src="src/assets/img/icon/world-icon-4.png" alt="">Quick Delivary</h4>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section> 