<div class="col-lg-3 float-md-right">
    <div class="left_sidebar_area">
        <aside class="l_widget l_categories_widget">
            <div class="l_title">
                <h3>categories</h3>
            </div>
            <ul>
                <li><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">jewelry</a></li>
                <li><a href="#">Accessories</a></li>
                <li><a href="#">appliances</a></li>
                <li><a href="#">beauty & personal care</a></li>
                <li><a href="#">gift card</a></li>
                <li><a href="#">Lookbook</a></li>
            </ul>
        </aside>
        <aside class="l_widget l_supper_widget">
            <img class="img-fluid" src="src/assets/img/supper-add-1.jpg" alt="">
            <h4>Super Summer Collection</h4>
        </aside>
        <aside class="l_widget l_feature_widget">
            <div class="verticalCarousel">
                <div class="verticalCarouselHeader">
                    <div class="float-md-left">
                        <h3>Featured Products</h3>
                    </div>
                    <div class="float-md-right">
                        <a href="#" class="vc_goUp"><i class="arrow_carrot-left"></i></a>
                        <a href="#" class="vc_goDown"><i class="arrow_carrot-right"></i></a>
                    </div>
                </div>
                <ul class="verticalCarouselGroup vc_list">
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Oxford Shirt</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Puffer Jacket</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Leather Bag</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-4.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Casual Shoes</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-1.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Oxford Shirt</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-2.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Puffer Jacket</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-3.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Leather Bag</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="media">
                            <div class="d-flex">
                                <img src="src/assets/img/product/featured-product/f-p-4.jpg" alt="">
                            </div>
                            <div class="media-body">
                                <h4>Casual Shoes</h4>
                                <h5>$45.05</h5>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <aside class="l_widget l_news_widget">
            <h3>newsletter</h3>
            <p>Sign up for our Newsletter !</p>
            <div class="input-group">
                <input type="email" class="form-control" placeholder="yourmail@domain.com" aria-label="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary subs_btn" type="button">Subscribe</button>
                </span>
            </div>
        </aside>
        <aside class="l_widget l_hot_widget">
            <h3>Summer Hot Sale</h3>
            <p>Premium 700 Product , Titles and Content Ideas</p>
            <a class="discover_btn" href="#">shop now</a>
        </aside>
    </div>
</div>