<section class="home_sidebar_area">
<div class="container">
    <div class="row row_disable">
        <!-- right side bar -->
            <div class="col-lg-9 float-md-right">
                <div class="sidebar_main_content_area">
                   
                    <!-- product list area -->
                    <app-product-list></app-product-list>
                    <!-- end product list area -->

                    <!-- blog area -->
                        <div class="home_sidebar_blog">
                            <h3 class="single_title">From The Blog</h3>
                            <div class="row">
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <img class="img-fluid" src="src/assets/img/blog/from-blog/f-blog-4.jpg" alt="">
                                        <div class="f_blog_text">
                                            <h5>fashion</h5>
                                            <p>Neque porro quisquam est qui dolorem ipsum</p>
                                            <h6>21.09.2017</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <img class="img-fluid" src="src/assets/img/blog/from-blog/f-blog-5.jpg" alt="">
                                        <div class="f_blog_text">
                                            <h5>fashion</h5>
                                            <p>Neque porro quisquam est qui dolorem ipsum</p>
                                            <h6>21.09.2017</h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-sm-6">
                                    <div class="from_blog_item">
                                        <img class="img-fluid" src="src/assets/img/blog/from-blog/f-blog-6.jpg" alt="">
                                        <div class="f_blog_text">
                                            <h5>fashion</h5>
                                            <p>Neque porro quisquam est qui dolorem ipsum</p>
                                            <h6>21.09.2017</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <!-- end blog area -->
                    
                </div>
            </div>
        <!-- end right side bar -->

        <!-- left side bar -->
           <app-product-category></app-product-category>
        <!-- end left side bar -->
    </div>
</div>
</section>
